<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.dodamPj.board">
	
	<!-- 자유게시판 목록 -->
	<select id="freeBoard" resultType="BoardVo">
		select * from
			(select rownum rnum, a.* from
				(select * from tbl_board
				 <include refid="search"></include>
				 order by re_group desc, re_seq asc) a)
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<!-- 글쓰기 -->
	<insert id="insertArticle">
		insert into tbl_board (b_no, b_title, b_content, user_id, re_group, b_picture)
		values (seq_board_bno.nextval, #{b_title}, #{b_content}, #{user_id}, seq_board_bno.nextval, #{b_picture, jdbcType=VARCHAR})
	</insert>
	
	<!-- 조회 -->
	<select id="selectByBno" resultType="BoardVo">
		select * from tbl_board
		where b_no = #{b_no}
	</select>
	
	<!-- 수정 -->
	<update id="updateArticle">
		update tbl_board set
			b_title = #{b_title},
			b_content = #{b_content}
		where b_no = #{b_no}
	</update>
	
	<!-- 삭제 -->
	<delete id="deleteArticle">
		delete from tbl_board
		where b_no = #{b_no}
	</delete>
	
	<!-- 게시글 삭제 시 댓글도 같이 삭제 -->
	<delete id="commentDeleteArticle">
		delete from tbl_comment
		where b_no = #{b_no}
	</delete>
	
	<!-- 페이징 -->
	<select id="getCount" resultType="int">
		select count(*) from tbl_board
		<include refid="search"></include>
	</select>
	
	<!-- 검색 -->
	<sql id="search">
		<if test="searchType != null">
		 	<choose>
		 		<when test='searchType == "t"'>
		 			where b_title like '%' || #{keyword} || '%'
		 		</when>
		 		<when test='searchType == "u"'>
		 			where user_id like '%' || #{keyword} || '%'
		 		</when>
		 		<when test='searchType == "tc"'>
		 			where b_title like '%' || #{keyword} || '%'
		 			or b_content like '%' || #{keyword} || '%'
		 		</when>
		 	</choose>
		 </if>
	</sql>
	
	<!-- 댓글수 변경 -->
	<update id="updateCommentCnt">
		update tbl_board set
			comment_cnt = comment_cnt + #{count}
		where b_no = #{b_no}
	</update>
	
	<!-- 조회수 -->
	<update id="updateViewCnt">
		update tbl_board set
			b_count = b_count + 1
		where b_no = #{b_no}
	</update>
	
	<!-- 동물게시판 댓글수 변경 -->
	<update id="animalUpdateCommentCnt">
		update tbl_animalboard set
			comment_cnt = comment_cnt + #{count}
		where ab_no = #{ab_no}
	</update>
	
	<!-- 첨부파일 추가 -->
	<insert id="insertAttach">
		insert into tbl_file(file_name, b_no)
		values (#{file_name}, #{b_no})
	</insert>
	
<!-- 	<select id="getNextVal" resultType="int"> -->
<!-- 		select seq_board_bno.nextval -->
<!-- 		from dual -->
<!-- 	</select> -->
	
	<select id="selectFile" resultType="String">
		select * from tbl_file
		where b_no = #{b_no}
	</select>
	
	<!-- 첨부파일 수정 -->
	<insert id="updateAttach">
		update tbl_board set
			b_picture = #{b_picture, jdbcType=VARCHAR}
		where b_no = #{b_no}
	</insert>
	
</mapper>
